*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f6f9;
}

/* LOGIN */

#loginPage{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.login-box{
    background:white;
    width:100%;
    max-width:450px;
    padding:30px;
    border-radius:20px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    text-align:center;
}

.login-box h1{
    color:#1565C0;
    margin-bottom:15px;
}

.login-box p{
    margin-bottom:20px;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:16px;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    background:#1565C0;
    color:white;
    cursor:pointer;
    margin:10px 5px;
    transition:0.3s;
}

button:hover{
    background:#0D47A1;
}

/* HOME */

#homePage{
    display:none;
    min-height:100vh;
}

header{
    background:#1565C0;
    color:white;
    text-align:center;
    padding:30px 20px;
}

nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
    padding:20px;
}

.menuContent{
    display:none;
    background:white;
    width:90%;
    max-width:1000px;
    margin:auto;
    margin-bottom:30px;
    padding:30px;
    border-radius:20px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.menuContent h2{
    color:#1565C0;
    margin-bottom:20px;
}

.menuContent h3{
    margin-top:20px;
    margin-bottom:10px;
}

.menuContent p,
.menuContent li{
    line-height:1.8;
}

ul{
    margin-left:20px;
}

#hasilKalkulator,
#hasilSoal{
    margin-top:20px;
    background:#E3F2FD;
    padding:20px;
    border-radius:15px;
}

footer{
    background:#0D47A1;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

/* RESPONSIVE TABLET */

@media(max-width:768px){

    nav{
        flex-direction:column;
        align-items:center;
    }

    nav button{
        width:90%;
    }

}

/* RESPONSIVE HP */

@media(max-width:480px){

    .login-box{
        padding:20px;
    }

    header h1{
        font-size:22px;
    }

    .menuContent{
        width:95%;
        padding:20px;
    }

    footer{
        font-size:12px;
    }

}